body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: url("./brown_bg.jpg") no-repeat center center/cover;
}

.go-to {
  width: 100%;
  background-color: #4a2f2a;
  color: #fff4ee;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin: 2rem 0;
}
.go-to:hover {
  background-color: #fff4ee;
  color: #4a2f2a;
  cursor: pointer;
}
.top {
  /* line-height: 2.5rem; */
  padding-bottom: 30px;
  text-align: center;
}
.top > h1 {
  color: #4a2f2a;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome {
  width: 450px;

  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 12px 30px rgba(0, 0, 0, 0.12), 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  border-radius: 20px;
  color: #4a2f2a;
}
.create,
.reminders,
.settings {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  color: #4a2f2a;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4),
    0 12px 30px rgba(0, 0, 0, 0.12), 0 4px 10px rgba(0, 0, 0, 0.08);
  margin: 1rem 0;
  border-radius: 2rem;
  padding: 10px;
}
