body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: url("./videoframe_4829.png") no-repeat;
}

.go-to {
  background-color: #38bdf8; /* sky blue */
  color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  border: none;
}
.go-to:hover {
  background-color: #1f2937;
  color: #38bdf8;
}
h1 {
  color: #1f2937;
}
