body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: url("./videoframe_4829.png") no-repeat center center/cover;
}

.go-to {
  width: 100%;
  background-color: #38bdf8; /* sky blue */
  color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin: 2rem 0;
}
.go-to:hover {
  background-color: #1f2937;
  color: #38bdf8;
}
.top {
  line-height: 2.5rem;
  padding-bottom: 30px;
  text-align: center;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome {
  background: linear-gradient(135deg, #0f1026, #1b2fa8, #6b5cff);
  padding: 4rem;
  border-radius: 20px;
  color: #fff;
}
.create,
.reminders,
.settings {
  color: #0f1026;
  background-color: #38bdf8;
  margin: 1rem 0;
  border-radius: 2rem;
  padding: -20px 1rem 1rem 1rem;
}
