* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(67, 67, 139);
}
.TodoWrapper {
  font-family: Arial, sans-serif;
  background-color: rgb(17, 17, 77);
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 5rem;
}
h1 {
  color: white;
}
.todo-input {
  background-color: rgb(17, 17, 77);
  color: white;
  border: aqua solid 2px;
  padding: 8px;
  width: 20rem;
  margin: 2rem 0;
}
.todo-input::placeholder {
  color: #8e8a8a;
}
.todo-btn {
  background-color: aqua;
  padding: 8px;
  border: aqua solid 2px;
  cursor: pointer;
}
.Todo {
  width: 25rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 7px 1rem;
  border-radius: 10px;
}
.fa-trash {
  margin-left: 12px;
}
.completed {
  text-decoration: line-through;
}
@media (max-width: 600px) {
  .TodoWrapper {
    max-width: 400px;
  }
  h1 {
    font-size: 22px;
  }
  .TodoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cover {
    max-width: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .Todo {
    max-width: 300px;
  }
  .Todo p {
    max-width: 200px;
  }
  .todo-input {
    max-width: 300px;
  }
}
